@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto:wght@300&display=swap");
.html-dersleri .content-head {
  background-color: #e54d27;
  padding: 15px;
  border-radius: 5px;
  color: #fff;
}
.html-dersleri .content-title {
  font-size: 22px;
  color: #262635;
  margin-bottom: 15px;
}
.html-dersleri .lesson-content ul {
  display: flex;
  flex-wrap: wrap;
}
.html-dersleri .lesson-content ul li {
  margin-left: -5px;
  width: 33.3333333333%;
  padding: 0 5px 10px;
}
.html-dersleri .lesson-content ul li a {
  display: flex;
  height: 50px;
  align-items: center;
  padding: 0 15px;
  background: #f3f6f9;
  font-size: 16px;
  border-radius: 4px;
  font-weight: 500;
  color: #262635;
  justify-content: space-between;
}

p {
  font-size: 17px;
  line-height: 1.7;
  margin-bottom: 15px;
}

.baslangic-html .block-content {
  margin-bottom: 50px;
}
.baslangic-html .block-content code {
  background: #e2e9f1;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 18px;
  color: #2a3979;
}
.baslangic-html .block-content ul {
  padding: 10px 30px;
}
.baslangic-html .block-content ul li {
  margin-bottom: 10px;
  line-height: 1.5;
  list-style: square;
}
.baslangic-html .block-content h2 {
  font-size: 34px;
  margin-bottom: 25px;
}
.baslangic-html .block-content h2 a {
  color: #2b3548;
}
.baslangic-html .block-content h2 a i {
  opacity: 0.4;
  margin-right: 5px;
}
.baslangic-html .block-content .editor-code-block {
  display: flex;
  position: relative;
  margin-bottom: 25px;
}
.baslangic-html .block-content .editor-code-block .code-toolbar {
  background: #32364a;
  color: #fff;
  position: relative;
  border-radius: 4px;
  flex-basis: 50%;
}
.baslangic-html .block-content .editor-code-block .code-toolbar pre {
  padding: 20px;
}
.baslangic-html .block-content .editor-code-block .code-toolbar pre code.language-html,
.baslangic-html .block-content .editor-code-block .code-toolbar pre .language-html {
  overflow: auto;
  color: #f8f8f2;
  background: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: "Ubuntu Mono", monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
}
.baslangic-html .block-content .editor-code-block .code-toolbar pre .token .property,
.baslangic-html .block-content .editor-code-block .code-toolbar pre .token .tag,
.baslangic-html .block-content .editor-code-block .code-toolbar pre .token .constant,
.baslangic-html .block-content .editor-code-block .code-toolbar pre .token .symbol,
.baslangic-html .block-content .editor-code-block .code-toolbar pre .token .deleted {
  color: #f92672;
}
.baslangic-html .block-content .editor-code-block .code-toolbar pre .token .prolog,
.baslangic-html .block-content .editor-code-block .code-toolbar pre .token .doctype,
.baslangic-html .block-content .editor-code-block .code-toolbar pre .token .comment {
  color: #8292a2;
}
.baslangic-html .block-content .editor-code-block .code-toolbar pre .token .selector,
.baslangic-html .block-content .editor-code-block .code-toolbar pre .token .attr-name,
.baslangic-html .block-content .editor-code-block .code-toolbar pre .token .string,
.baslangic-html .block-content .editor-code-block .code-toolbar pre .token .char,
.baslangic-html .block-content .editor-code-block .code-toolbar pre .token .builtin,
.baslangic-html .block-content .editor-code-block .code-toolbar pre .token .inserted {
  color: #a6e22e;
}
.baslangic-html .block-content .editor-code-block .code-toolbar pre .token .punctuation {
  color: #f8f8f2;
}
.baslangic-html .block-content .editor-code-block .code-toolbar pre .token .atrule,
.baslangic-html .block-content .editor-code-block .code-toolbar pre .token .attr-value,
.baslangic-html .block-content .editor-code-block .code-toolbar pre .token .function,
.baslangic-html .block-content .editor-code-block .code-toolbar pre .token .class-name {
  color: #e6db74;
}
.baslangic-html .block-content .editor-code-block .code-toolbar .toolbar .language-name {
  position: absolute;
  top: 5px;
  right: 10px;
  color: #8292a2;
  font-size: 15px;
  font-weight: 500;
}
.baslangic-html .block-content .editor-code-block .pt-browser-mockup {
  background: #f8f9fa;
  border-radius: 4px;
  overflow: hidden;
  border: 3px solid #ecf1f6;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 10px;
}
.baslangic-html .block-content .editor-code-block .pt-browser-mockup .browser-head {
  background: #ecf1f6;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
}
.baslangic-html .block-content .editor-code-block .pt-browser-mockup .browser-head .buttons {
  display: flex;
  align-items: center;
}
.baslangic-html .block-content .editor-code-block .pt-browser-mockup .browser-head .buttons span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 8px;
}
.baslangic-html .block-content .editor-code-block .pt-browser-mockup .browser-head .buttons span:nth-child(1) {
  background-color: #ee6a5f;
}
.baslangic-html .block-content .editor-code-block .pt-browser-mockup .browser-head .buttons span:nth-child(2) {
  background-color: #f5bd4f;
}
.baslangic-html .block-content .editor-code-block .pt-browser-mockup .browser-head .buttons span:nth-child(3) {
  background-color: #61c454;
}
.baslangic-html .block-content .editor-code-block .pt-browser-mockup .iframe {
  padding: 20px;
}
@media (max-width: 620px) {
  .baslangic-html .block-content .editor-code-block {
    display: block;
  }
  .baslangic-html .block-content .editor-code-block .pt-browser-mockup {
    margin: 10px 0;
  }
}

@media (max-width: 1200px) {
  header #search-box {
    display: none;
  }
  .main #sidebar {
    display: none;
  }
  .content {
    padding: 15px !important;
  }
  .content a.swiper-slide-lesson-link {
    padding: 20px 10px !important;
  }
  .content .instagram, .content .youtube {
    display: flex;
    padding: 10px 20px !important;
    flex-direction: column;
  }
  .responsive-bar {
    display: flex !important;
  }
}
@media (max-width: 400px) {
  .instagram, .youtube {
    display: flex;
    flex-direction: column;
    margin: 10px 0 !important;
  }
  .instagram div, .youtube div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    gap: 5px;
  }
}
* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  outline: 0;
  text-decoration: none;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 4px;
  background-color: #c5bbbb;
}

html,
body {
  height: 100%;
  max-height: 100%;
}

h3 {
  color: #32445a;
  font-size: 30px;
  margin-bottom: 15px;
}

body,
input,
select,
button {
  font-family: "Montserrat", "Roboto", "Helvetica Neue", Arial, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  height: 60px;
  min-height: 60px;
  border-bottom: 1px solid #f3f6f9;
}
nav .logo a {
  text-decoration: none;
  color: #282a35;
  font-size: 19px;
  font-weight: 500;
  font-family: "Montserrat", "Roboto", "Helvetica Neue", Arial, sans-serif;
}
nav .dropdown .dropbtn {
  font-size: 16px;
  border: 1px solid #282a35;
  border-radius: 5px;
  cursor: pointer;
  color: #000;
  padding: 10px 15px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}
nav .dropdown .dropdown-content {
  position: absolute;
  display: none;
  background-color: #f9f9f9;
  border-radius: 5px;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
  z-index: 9999;
  right: 20px;
  padding: 5px;
}
nav .dropdown .dropdown-content a {
  border-radius: 5px;
  color: black;
  border: 1px solid #282a35;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  text-align: left;
  margin: 5px 0;
}
nav .search-box {
  max-width: 500px;
  width: 100%;
}
nav .search-box input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  outline: none;
  border: none;
  background-color: #f3f6f9;
}
nav .search-box input::-moz-placeholder {
  color: #3b5998;
  font-size: 15px;
  font-weight: 500;
}
nav .search-box input:-ms-input-placeholder {
  color: #3b5998;
  font-size: 15px;
  font-weight: 500;
}
nav .search-box input::placeholder {
  color: #3b5998;
  font-size: 15px;
  font-weight: 500;
}
nav .responsive-bar {
  display: none;
}

.divider {
  margin: 20px 0;
}

.divider.big {
  margin: 40px 0;
  height: 1px;
  background-color: #f3f6f9;
}

@media (max-width: 1040px) {
  .social-media-links {
    display: flex;
    flex-direction: column !important;
    gap: 0 !important;
  }
}
.main {
  display: flex;
  height: calc(100% - 60px);
}
.main aside.sidebar {
  width: 220px;
  min-width: 220px;
  border-right: 1px solid #ecf1f6;
  padding: 10px 10px;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}
.main aside.sidebar ul li {
  margin-top: 10px;
}
.main aside.sidebar ul li:hover {
  background-color: #f3f6f9;
}
.main aside.sidebar ul .active {
  color: #32445a;
  position: relative;
  z-index: 1;
  border-radius: 4px;
  background-color: #f3f6f9;
}
.main aside.sidebar ul a {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 9px 12px;
  font-size: 16px;
  color: #333;
  font-weight: 500;
  border-radius: 4px;
  overflow: hidden;
  gap: 12px;
}
.main aside.sidebar ul .html:hover a {
  transition: 0.3s ease;
  color: #e54d27;
  background-color: rgba(229, 77, 39, 0.0941176471);
}
.main aside.sidebar ul .css:hover a {
  transition: 0.3s ease;
  color: #29a4d9;
  background-color: rgba(41, 164, 217, 0.0705882353);
}
.main aside.sidebar ul .js:hover a {
  transition: 0.3s ease;
  color: #f7df1e;
  background-color: rgba(255, 225, 0, 0.1607843137);
}
.main aside.sidebar ul .react:hover a {
  transition: 0.3s ease;
  background-color: hsla(198deg, 100%, 51%, 0.071);
  color: #29a4d9;
}
.main aside.sidebar ul .git:hover a {
  transition: 0.3s ease;
  color: #bd2600;
  background-color: rgba(189, 38, 0, 0.1411764706);
}
.main .content {
  overflow: auto;
  scroll-behavior: smooth;
  scroll-margin-block-start: -100px;
  padding: 25px 40px;
  flex: 1;
}
.main .content .content-inner {
  margin: 0 auto;
  max-width: 1200px;
}
.main .content .content-inner .social-media-links {
  display: flex;
  gap: 20px;
}
.main .content .content-inner .social-media-links .instagram {
  background: linear-gradient(to left, #405de6, #5851db, #833ab4, #e1306c);
  display: flex;
  padding: 20px 10px;
  border-radius: 5px;
  margin: 20px 0;
}
.main .content .content-inner .social-media-links .instagram span:nth-child(1) {
  color: #fff;
  font-size: 55px;
  margin: 20px;
}
.main .content .content-inner .social-media-links .instagram div {
  display: flex;
  color: #fff;
  flex-direction: column;
}
.main .content .content-inner .social-media-links .instagram div p.title {
  font-size: 20px;
}
.main .content .content-inner .social-media-links .instagram div a {
  margin-top: 10px;
  background-color: #fff;
  padding: 8px;
  width: 100px;
  text-align: center;
  color: #000;
  font-weight: 500;
  border-radius: 5px;
}
.main .content .content-inner .social-media-links .youtube {
  background-color: red;
  display: flex;
  padding: 20px 10px;
  border-radius: 5px;
  margin: 20px 0;
}
.main .content .content-inner .social-media-links .youtube span i {
  font-size: 40px;
  color: #fff;
  margin: 20px;
}
.main .content .content-inner .social-media-links .youtube div {
  display: flex;
  color: #fff;
  flex-direction: column;
}
.main .content .content-inner .social-media-links .youtube div p.title {
  font-size: 20px;
}
.main .content .content-inner .social-media-links .youtube div a {
  margin-top: 10px;
  background-color: #fff;
  padding: 8px;
  width: 100px;
  text-align: center;
  color: #000;
  font-weight: 500;
  border-radius: 5px;
}
.main .content .content-inner .swiper {
  margin-bottom: 20px;
}
.main .content .content-inner .swiper .swiper-slide {
  margin-bottom: 40px;
}
.main .content .content-inner .swiper .swiper-slide a.swiper-slide-lesson-link {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  border: 1px solid #bd2600;
  align-items: center;
  gap: 10px;
  border-radius: 7px;
}
.main .content .content-inner .swiper .swiper-slide a.swiper-slide-lesson-link .icon {
  border: 1px solid #bd2600;
  border-radius: 50%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: #e54d27;
  width: 90px;
}
.main .content .content-inner .swiper .swiper-slide a.swiper-slide-lesson-link .lesson-name {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  color: #fff;
  background-color: #e54d27;
}
.main .content .content-inner .swiper .swiper-slide a.swiper-slide-lesson-link .about-lesson {
  margin-top: 15px;
  border-top: 1px solid #e54d27;
  display: flex;
  gap: 20px;
  padding: 10px;
}
.main .content .content-inner .swiper .swiper-slide a.swiper-slide-lesson-link .about-lesson .file,
.main .content .content-inner .swiper .swiper-slide a.swiper-slide-lesson-link .about-lesson .video {
  display: flex;
  color: #9193b5;
  margin-top: 10px;
  font-size: 16px;
  flex-direction: column;
}/*# sourceMappingURL=home.css.map */